.ContainerUtama {
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.MenuBtn {
  display: flex;
}

.ContainerLuar2 {
  display: flex;
  justify-content: center;
  width: 88%;
}

.ContainerDua {
  width: 90%;
}

.CardContainer1 {
  width: 100%;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
}

.Header {
  margin-top: 2vh;
  font-size: 36px;
  font-weight: 500;
}
