.ContainerUtama {
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.MenuBtn {
  display: flex;
}

.ContainerLuar2 {
  display: flex;
  justify-content: center;
  width: 88%;
  padding: 10px 0 40px 0;
}

.ContainerDua {
  width: 90%;
}

.CardContainer1 {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
}

.Header {
  margin-top: 2vh;
  font-size: 36px;
  font-weight: 500;
}
