.TableTabs {
  display: flex;
}

.TabsItem {
  margin: 2px 50px 0 0;
  padding: 0 0 5px 0;
  color: #959595;
  border-bottom: 3px solid white;
  font-size: 20px;
  cursor: pointer;
}

.TabsItemActive {
  margin: 2px 50px 0 0;
  padding: 0 0 5px 0;
  font-size: 20px;
  color: #278aff;
  border-bottom: 3px solid #278aff;
  cursor: pointer;
}

.line {
  border: 0.5px solid #278aff;
}

.TreatmentTable {
  height: 100vh;
  background-color: white;
  margin-left: 6px;
  margin-top: 2vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.ContainerLuarHistory {
  width: 88%;
}

.ContainerHeaderHistory {
  width: 100;
  margin-left: 50px;
}

.NameData {
  font-weight: bold;
}

.PriceData {
  font-weight: bold;
  color: #00ae07;
}

.DeleteBtn {
  width: 60%;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #e80e0e;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
}

.UpdateBtn {
  width: 60%;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #278aff;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
}

th {
  text-align: start;
  height: 40px;
  color: #808080;
  font-weight: 400;
  font-size: 18px;
}

td {
  height: 60px;
}
