.CardContainer {
  background-color: #ffffff;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.DeleteContainer {
  display: flex;
  justify-content: flex-end;
}

.Delete {
  padding-right: 10px;
  padding-top: 10px;
  width: 6%;
}

.FotodanNamaPasien {
  margin-top: 2vh;

  display: flex;
  justify-content: center;
}

.FotoPasien {
  width: 30%;
  border-radius: 100%;
}

.NamaPasien {
  text-align: center;
  width: 90%;
}

.AtasPasien {
  margin-top: 1vh;
  font-size: 18px;
  font-weight: 500;
}

.NomorPasien {
  margin-top: 1vh;
  font-size: 18px;
  font-weight: normal;
  color: #00ae07;
}

.TanggalContainer {
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid #8b8b8b;
}

.TanggalAdd {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  color: #939393;
}

.CnC {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.DetailsContainer {
  padding: 2vh;
  display: flex;
  justify-content: center;
}

.btnDetails {
  font-weight: 500;
  font-size: 18px;
}
