.popupContainer{
    margin-top: 4vh;
    width: 640px;
    height: 680px;
    background-color: grey;
    color: white;
    
    position: absolute;
    z-index: 100;
}

.containerHidden{
    display: none;



}

.backgroundGelap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100%;
    background-color: #00000057;
    position: absolute;

}